:root {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color: #222;
  background: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}